/* texts */

.main{
    font-size: 4rem;
    font-family: bold;
    width: 60%;
    line-height: 60px;
}

.topic{
    color:#66AAF9;
    font-size: 4rem;
    font-family: bold;
    margin-bottom: -40px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.topicCenter{
    color:#66AAF9;
    font-size: 4rem;
    font-family: bold;
    margin-bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentText{
    font-size: 2.5rem;
    width: 70%;
    line-height: 50px;
    text-align: start;
}

/* containers */
.containerCenter{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: start;
    margin: 0rem auto;
    gap: 2rem;
    width: 80%;
    height: 100vh;
}

.containerContent{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0rem auto;
    gap: 2rem;
    width: 80%;
}
.containerContentStart{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0rem auto;
    gap: 2rem;
    width: 60%;
    height: 100vh;
}

.containerContentStartTitle{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 3rem auto;
    gap: 2rem;
    width: 80%;
}

.containerContentCenterCard{
    display: grid;
    align-items: center;
    align-content: center;
    gap: 1rem;
    width: 60%;
    margin: 3rem auto;
    height: auto;
}

.img{
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    border-radius: 10px;
    transition: .2s ease-in-out all;
}

.img:hover{
    border-radius: 0px;
    scale: 1.01;
}

.cardDescription{
    width: 50%;
    display: grid;
    align-items: start;
    justify-content: start; 
    align-content: start;
    margin: 0 auto;
}

.span{
    color: #66AAF9;
}

.buttonBaixar{
    width: 50%;
    margin: 3rem auto;
}
@media (max-width:600px){
    .main{
        font-size: 2.5rem;
        font-family: bold;
        width: 100%;
        line-height: 40px;
    }

    .topic{
        color:#66AAF9;
        font-size: 2rem;
        font-family: bold;
        margin: 0 auto;
    }

    .contentText{
        font-size:1.5rem;
        width: 100%;
        line-height: 30px;
        text-align: center;
    }

    .containerContentStartTitle{
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: rem auto;
        width: 100%;
    }
    
    .containerContentCenterCard{
        display: grid;
        align-items: center;
        align-content: center;
        gap: 1rem;
        width: 90%;
        margin: 3rem auto;
        height: auto;
    }
}