.buttonConhecaMais{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popcontent{
    display: grid; 
    align-items: start;
    justify-content: center;
    padding: 1rem;
}